body {
    color: white;
    background: rgb(29, 211, 224);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(93, 69, 179);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}